*{
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
	font-family: Tahoma;
	line-height: 1.5em;
}
body{
	font-size: 12px;
}
#intro{
	width: 60%;
	margin: 40px auto 80px;
}
h1, h2, h3{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: normal;
	color: #111;
	text-transform: uppercase;
}
h1{
	font-size: 35px;
	border-bottom: solid 1px #CCC;
	position: relative;
}
h1 a{
	display: block;
	float: right;
	height: 52px;
	line-height: 52px;
	padding: 0 15px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: normal;
	font-size: 25px;
	text-decoration: none;
	color: #FFF;
	background: #c11411;
	position: relative;
}
h1 a:after{
	content: '';
	display: block;
	width: 5px;
	height: 5px;
	position: absolute;
	top: 0;
	left: 0;
	background: #FFF;
	z-index: 1;
}
h1 a:before{
	content: '';
	display: block;
	width: 5px;
	height: 5px;
	position: absolute;
	top: 0;
	left: -5px;
	background: #c11411;
	z-index: 2;
}
h1 a:hover:before{
	left: 0;
}
h1 a.github{
	background: none;
	color: #515151;
}
h1 a.github:after,
h1 a.github:before{
	display: none;
}
h2{
	font-size: 25px;
	margin-top: 30px;
}
p{
	margin: 10px 0;
}
#demo{
	width: 100%;
}
#demo li{
	width: 100%;
	overflow: auto;
}
#demo li canvas{
	display: block;
	float: left;
	width: 50%;
}
#demo li img{
	display: block;
	float: left;
	width: 50%;
}
code{
	font: normal 12px monospace;
	color: #515151;
}

table{
	border: solid 1px #CCC;
	width: 100%;
}
table th{
	text-transform: uppercase;
}
table th,
table td{
	padding: 10px;
	border-bottom: dashed 1px #CCC;
}
table tr:last-child td{
	border: none;
}